.search-filter-header {
    border-bottom: 1px solid #ddd;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 80px;
    position: relative;
    width: 100%;
    z-index: 1;
    transition: height 0.5s ease; /* Define transition property, duration, and easing */
}

.search-filter-header.expanded {
    height: 160px;
}

.search-filter-content {
    padding-left: var(--explore_padding-inline);
    padding-right: var(--explore_padding-inline);
}

.search-filter-header-item {
    outline: none;
    align-items: center;
    display: inline-flex;
    height: 80px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.arnavs-branding {
    font-weight: 600;
    color: var(--primary);
}

.brand-logo {
    color: var(--primary);
}

.search-filters-tabs {
    background-color: var(--white);
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
    transition: box-shadow 0.2s ease;
    align-items: center;
    color: var(--black);
    display: inline-flex;
    max-width: 100%;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 100000;
}

.search-filter-tab-button {
    padding-left: 8px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: #fff;
    cursor: pointer;
    padding: 0;
    text-align: inherit;
    border: 0px;
    margin: 0px;
    border-radius: 9999px;
    padding-left: 5px;
    padding-right: 5px;
}

.search-filter-tab-button span {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    font-family: 'Zoho Puvi';
    color: var(--black);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    min-width: 80px;
    text-align: center;
}

.search-filter-btn svg {
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: #fff;
    stroke-width: 5.33333;
    overflow: visible;
}

.search-filter-btn {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--primary);
}

.user-profile-hamburger-icon {
    display: block;
    fill: none;
    height: 16px;
    width: 16px;
    stroke: currentcolor;
    stroke-width: 3;
    overflow: visible;
}

.user-profile-picture-icon {
    color: var(--black);
    flex: 0 0 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
    z-index: 1;
}

.user-profile-picture-icon svg {
    display: block;
    height: 100%;
    width: 100%;
    fill: currentcolor;
}

.user-profile-btn {
    background: transparent;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    background-color: var(--white);
    padding: 5px 5px 5px 12px;
    height: 28px;
    border: 1px solid var(--gray);
    border-radius: 21px;
    transition: box-shadow 0.2s ease;
    gap: 12px;
}

.search-filter-links {
    -webkit-box-pack: end !important;
    display: flex !important;
    flex: 1 1 auto !important;
    justify-content: flex-end !important;
    margin-right: 8px !important;
}
